*{
color: black;
}
/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    color: black;
    background:white;
    align-items: center;
    z-index: 110;
    border-bottom: 3px solid #ccc;
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0%;
    left: 0%;
}
.navbar .logo img{ 
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position:fixed;
    left: 40px;
    top: 20px;
    z-index: 10;
}
.navbar .icon{
    p{
    font-family: Freestyle Script;
    font-size: 350%;
    font-weight: 1000;
    position: fixed;
    left: 65px;
    top: 10px;
    color: black;
    z-index: 13;
    }
}
.navbar .menu ul{
display: block;
position: fixed;
top: 180px;
left: 10px;

}
.navbar .menu ul,li{
    margin: 5px 15px;
    font-size: larger;
    margin-left: 10px;
    margin-bottom: 50px;
}
.navbar .menu ul,li a{
    color: black;
    text-decoration: none;
}
.navbar .customers{
    margin-right: 10px;
    margin-top: 470px;
    right: 0%;

    input{
        border-radius: 10px;
        width: 20degx;
        height: 30px;
    }
}
/* FOOTER */
.container{
    height:300px;
    width: 70%;
    background-color: rgb(185, 185, 185);
    color: black;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-left: 30%;
.footer-col{
    width: 30.0%;
    height: 300px;
    margin: 0px;

    
}
.footer-col h1{
    color: black;
    margin-left: 20px;

}
.footer-col ul a{
    color: black;
    text-decoration: none;
    margin: 2px;
}
.footer-col ul li{
    margin: 4px;
}

}
